* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list {
  border: 1px solid black;
  width: 20%;
  min-width: 100px;
  max-width: 500px;
}

.list-item {
  display: flex;
  padding: 8px;
}

.list-item label {
  padding: 0 8px;
}

.buttons {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.buttons button {
  padding: 0 8px;
  margin-bottom: 8px;
}
